<%= form_for(@b_level_tag) do |f| %>
  <% if @b_level_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@b_level_tag.errors.count, "error") %> prohibited this b_level_tag from being saved:</h2>

      <ul>
      <% @b_level_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
