<h1>Listing working_records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @working_records.each do |working_record| %>
      <tr>
        <td><%= link_to 'Show', working_record %></td>
        <td><%= link_to 'Edit', edit_working_record_path(working_record) %></td>
        <td><%= link_to 'Destroy', working_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Working record', new_working_record_path %>
