
<div class="container" style="margin-top: 60px">
	<div class="jumbotron">
		<center>
			<h1>支付成功</h1>
			<br/>
			<br/>
			<p></p>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<p>
				<a class="btn  btn-primary" href="/welcome#index">继续搜索</a><span> </span>
				<a class="btn  btn-primary" href="/customer/appointments/payments">查看付款列表</a>
			</p>
		</center>
	</div>
</div>
