
<%= render "common/header"%>
<div class="container">
<div class="jumbotron"><center>
        <h1>支付成功</h1><br/><br/>
        <p></p><br/><br/><br/><br/><br/><br/>
        <p>   
        	<a class="btn  btn-primary" href="/welcome#index">继续搜索</a><span>        </span>
<a class="btn  btn-primary" href="/appointments">查看预约列表</a>
        </p>
 </center></div>
</div>



<%= render "common/footer"%>