          <div class="list-group">
            <a href="/manager/a_level_tags" class="list-group-item ">一级标签管理</a>
            <a href="/manager/b_level_tags" class="list-group-item ">二级标签管理</a>
            <a href="/manager/region_centers" class="list-group-item ">区域中心管理</a>
            <a href="/manager/institutions" class="list-group-item ">单位管理</a>
            <a href="/manager/users" class="list-group-item ">用户管理</a>
            <a href="/manager/check_rules" class="list-group-item ">审核规则设置</a>

          </div>