   
          <div class="list-group">
            <a href="/appointments" class="list-group-item ">预约管理</a>
            <a href="/groups" class="list-group-item ">群组管理</a>
            <a href="/messages" class="list-group-item ">消息管理</a>
            <a href="/customer/users/<%=session[:user_id]%>" class="list-group-item ">账号管理</a>

          </div>