<div class="list-group">
	<a href="/appointments" class="list-group-item ">我的预约</a>
	<a href="/customer/appointments/payments" class="list-group-item ">我来付款</a>
	<a href="/groups" class="list-group-item ">我的群组</a>
	<a href="/messages" class="list-group-item ">我的消息</a>
	<a href="/customer/users/<%= session[:user_id]%>" class="list-group-item ">我的账户</a>

</div>

