<%= form_for(@privilige) do |f| %>
  <% if @privilige.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privilige.errors.count, "error") %> prohibited this privilige from being saved:</h2>

      <ul>
      <% @privilige.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
