<footer class="footer">
	<hr>
	<div class="container">
       
		<div>
			<p>
				Copyright &copy; 2014
			</p>
			<p class="links">
				<a href="/">关济昌</a> | <a href="/">宋梦召</a> | <a href="/">卢志彤</a> | <a href="/">季通明</a> | <a href="/terminal/login">终端入口</a>
			</p>
			
		</div>
	</div>
</footer>